#states {
  stroke: #fff;
  fill: #eee;
  stroke-width: 1.5px;
}   
#colleges {
  fill: #000;
  stroke-width: 0px;
}
.selector {
  fill-opacity: 0;
  stroke-width: 3px;
  stroke: #555;
}
.collegePoint {
  fill: #111;
  stroke: #fff;
  opacity: 0.3;
}
.text {
  type: "hidden";
}