body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#header {
  height: 35px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e3e3e3;
  padding: 2px 0;
}

#logo, #subtitle {
  display: inline;
  float: left;
  font-size: 11;
}

#logo {
  font-size: 32px;
  font-weight: 800;
  font-variant:small-caps;
  margin-right: 10px;
  color: #006699;
}
#logo #vs {
  color: #FF6633;
}
#logo a {
  text-decoration: none;
  color: #006699;
}

#subtitle {
  margin-top: 17px;
  font-weight: 300;
}

#social {
  float: right;
  display: block;
  height: 36px;
}

#helpOverlay {
  position: absolute;
  display: none;
  background-image: url(img/helpOverlayFull.png);
  z-index: 200;
  width: 960px;
  height: 800px;
}

#helpButton, #share, #link, #link_url, #feedback, #clearButton {
  display: inline-block;
  margin-top: 8px;
  margin-left: 15px;
  padding-left: 20px;
  padding-top: 2px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #3B5998;
  text-decoration: none;
}
#helpButton {
  background-image: url(img/question.png);
  cursor: pointer;
}
#link {
  background-image: url(img/link.png);
}
#share {
  background-image: url(img/mail.png);
}
#feedback {
  background-image: url(img/smile.png);
}
#link_url {
  margin-left: 5px;
  padding-left: 0px;
  color: black;
  text-decoration: underline;
  text-size: 10px;

  display: none;

  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
#clearButton {
  position: absolute;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 1057px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  z-index: 100;
}

.page {
  margin: auto;
  width: 960px;
}

#content_l, #content_r {
  float: left;
  position: relative;
}

#content_l {
  width: 629px;
  border-right: 1px solid #e3e3e3;
  padding: 10px 10px 10px 0;
}

#content_r {
  width: 320px;
  height: 728px;
}

.help {
  color: #3E3E3E;
  font-weight: 700;
  font-size: 11px;
}
ul.token-input-list-facebook,
div.token-input-dropdown-facebook,
ul.token-input-list,
div.token-input-dropdown {
  width: 630px;
  margin-bottom: 10px;
}
ul.token-input-list-facebook {
  max-height: 24px;
  overflow: hidden;
}


.graph_small {
  height: 120px;
  width: 210px;
  background-color: #e3e3e3;
  border-top: 1px solid #999;
}
.graph_small:last-child {
  border-bottom: 1px solid #999;
}

#pc {
  height: 640px;
  width: 630px;
  background-color: #e3e3e3;
  margin-bottom: 10px;
}

#college_results_title {
  padding-top: 10;
  font-size: 16;
  font-weight: bold;
  height: 25;
  text-align: center;
  background-color: #f8f8f8;
}

#college, #college_results {
  float: left;
}


#college {
  width: 210px;
  height: 728px;
}
#college_results {
  width: 110px;
  /*height: 728px;*/
  height: 1050px;
  overflow-y: scroll;
}
#college_results li {
  white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e3e3e3;
  border-width: 1px 1px 0 1px;
  padding: 1px 5px;
  margin-left: -1px;
  cursor: pointer;
}
#college_results li.active, #college_details {
  background-color: #e3e3e3;
}
#college_results .more {
  font-weight: bold;
}

#college_details {
  padding: 5px;
  width: 200px;
  height: 354px;
  overflow-y: scroll;

  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

#college_details .name {
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
#college_details .sect {
  margin: 10px 0;
}
#college_details .sect {
  line-height: 13px;
}
#college_details .sect .title {
  color: #FB5D00;
  font-weight: 700;
  display: block;
  margin-bottom: 3px;
}
#college_details .subsect {
  margin: 5px 0;
}
#college_details .subsect .title {
  color: #000;
  font-weight: 600;
  display: inline;
  margin: 0;
}

#college_details .sect .majors {
  margin-top: 5px;
  width: 100%;
  table-layout: fixed;
}
#college_details .sect .majors th {
  text-align: left;
}
#college_details .sect .majors td {
  border: 1px solid #eee;
  border-width: 1px 0;
  padding-right: 5px;
}
#college_details .sect .majors .col_type {
  width: 32px;
}

/*#college .scroll_pane {*/
  /*float: left;*/
  /*[>height: 100%;<]*/
  /*[>overflow: hidden;<]*/
  /*[>overflow-y: scroll;<]*/
/*width: 100%;*/
	/*height: 200px;*/
	/*overflow: auto;*/
  
/*}*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
}

#c_tok_college, #c_tok_major {
  position: absolute;
  z-index: 10;
}
#c_tok_college {
  top: 360px;
}
#c_tok_major {
  top: 410px;
}
#filterChart {
  position: absolute;
  top: 370px;
}
#mapChart {
  top: 10px;
}
div.token-input-dropdown-facebook {
  z-index: 100;
}

.star {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 19px;
  width: 19px;
  position: absolute;
  left: 0;
}
.star_unlit {
  background-image: url('img/star_unlit.png');
}
.star_lit {
  background-image: url('img/star_lit.png');
}
.star_hover {
  background-image: url('img/star_hover.png');
}

#filterChart .slider {
  cursor:move;
}
#filterChart .handle {
  cursor:col-resize;
}
#filterChart .pref {
  cursor: -webkit-grab;
}
#filterChart .pref:active {
  cursor: -webkit-grabbing;
}
#filterChart .filter.off .selector {
  cursor: pointer;
}
.pathGroup .hover {
  cursor: pointer;
}
.graph_small path {
  cursor: help;
}
.star {
  cursor: pointer;
}

